Desktop/ebank 1/eBank/src/META-INF/wsdl/localhost_48095/eBankWebService/EmpData.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://eBank/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://eBank/" name="EmpData">
<types>
<xsd:schema>
<xsd:import namespace="http://eBank/" schemaLocation="http://localhost:48095/eBankWebService/EmpData?xsd=1"/>
</xsd:schema>
</types>
<message name="updateEmp">
<part name="parameters" element="tns:updateEmp"/>
</message>
<message name="updateEmpResponse">
<part name="parameters" element="tns:updateEmpResponse"/>
</message>
<message name="createEmployee">
<part name="parameters" element="tns:createEmployee"/>
</message>
<message name="createEmployeeResponse">
<part name="parameters" element="tns:createEmployeeResponse"/>
</message>
<message name="findEmpDetails">
<part name="parameters" element="tns:findEmpDetails"/>
</message>
<message name="findEmpDetailsResponse">
<part name="parameters" element="tns:findEmpDetailsResponse"/>
</message>
<message name="deleteEmployee">
<part name="parameters" element="tns:deleteEmployee"/>
</message>
<message name="deleteEmployeeResponse">
<part name="parameters" element="tns:deleteEmployeeResponse"/>
</message>
<portType name="EmpData">
<operation name="updateEmp">
<input wsam:Action="http://eBank/EmpData/updateEmpRequest" message="tns:updateEmp"/>
<output wsam:Action="http://eBank/EmpData/updateEmpResponse" message="tns:updateEmpResponse"/>
</operation>
<operation name="createEmployee">
<input wsam:Action="http://eBank/EmpData/createEmployeeRequest" message="tns:createEmployee"/>
<output wsam:Action="http://eBank/EmpData/createEmployeeResponse" message="tns:createEmployeeResponse"/>
</operation>
<operation name="findEmpDetails">
<input wsam:Action="http://eBank/EmpData/findEmpDetailsRequest" message="tns:findEmpDetails"/>
<output wsam:Action="http://eBank/EmpData/findEmpDetailsResponse" message="tns:findEmpDetailsResponse"/>
</operation>
<operation name="deleteEmployee">
<input wsam:Action="http://eBank/EmpData/deleteEmployeeRequest" message="tns:deleteEmployee"/>
<output wsam:Action="http://eBank/EmpData/deleteEmployeeResponse" message="tns:deleteEmployeeResponse"/>
</operation>
</portType>
<binding name="EmpDataPortBinding" type="tns:EmpData">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateEmp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findEmpDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EmpData">
<port name="EmpDataPort" binding="tns:EmpDataPortBinding">
<soap:address location="http://localhost:48095/eBankWebService/EmpData"/>
</port>
</service>
</definitions>