Desktop/ebank 1/eBank/xml-resources/web-service-references/manageCustData/wsdl/localhost_48095/eBankWebService/manageCustData.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://eBank/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://eBank/">

<xs:element name="addCustomer" type="tns:addCustomer"/>

<xs:element name="addCustomerResponse" type="tns:addCustomerResponse"/>

<xs:element name="deleteCustomer" type="tns:deleteCustomer"/>

<xs:element name="deleteCustomerResponse" type="tns:deleteCustomerResponse"/>

<xs:element name="editCustomer" type="tns:editCustomer"/>

<xs:element name="editCustomerResponse" type="tns:editCustomerResponse"/>

<xs:element name="findCustomerAcnt" type="tns:findCustomerAcnt"/>

<xs:element name="findCustomerAcntResponse" type="tns:findCustomerAcntResponse"/>

<xs:element name="findcustdata" type="tns:findcustdata"/>

<xs:element name="findcustdataResponse" type="tns:findcustdataResponse"/>

<xs:complexType name="deleteCustomer">
<xs:sequence>
<xs:element name="acntNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCustomerResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCustomerAcnt">
<xs:sequence>
<xs:element name="acntNmb" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCustomerAcntResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findcustdata">
<xs:sequence>
<xs:element name="acntNmb" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findcustdataResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCustomer">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="dob" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:int"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="acntType" type="xs:string" minOccurs="0"/>
<xs:element name="acntNumber" type="xs:int"/>
<xs:element name="sortCode" type="xs:string" minOccurs="0"/>
<xs:element name="balance" type="xs:double"/>
<xs:element name="card" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCustomerResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editCustomer">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="dob" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:int"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="acntType" type="xs:string" minOccurs="0"/>
<xs:element name="acntNumber" type="xs:int"/>
<xs:element name="sortCode" type="xs:string" minOccurs="0"/>
<xs:element name="balance" type="xs:double"/>
<xs:element name="card" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editCustomerResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>